<h1>Utilisateur : <%= user.id %></h1>

<p>Nom : <%= user.name %></p>
<p>Email : <%= user.email %></p>
<p>Role : <%= user.role %></p>

<a class="btn btn-primary" href="/admin/dashboard/users">Retourner au tableau</a>