<header class="bg-primary position-relative text-center py-2 text-white">
  <h1 class="m-0">Le header</h1>

  <div class="position-absolute end-0 top-50 translate-middle-y me-3">
    <% if(isLogged) { %>

    <form method="post" action="/admin/logout">
      <span>Connecté en tant que : <%- login %></span>
      <button type="submit" class="btn btn-light btn-sm ms-2">
        Déconnexion
      </button>
    </form>

    <% } else { %>
    <a href="/admin/login" class="btn btn-light btn-sm">Connexion</a>
    <% } %>
  </div>
</header>
<section id="subheader" class="d-flex bg-light py-2">

  <ul class="d-flex m-auto list-unstyled gap-3">
    <li>Accueil</li>
    <li></li>
    <li>a</li>
  </ul>


</section>
