<%- include("../components/head.ejs") %>

<body>
    <main class="d-flex">
        <section class="m-auto d-flex flex-column align-items-center">
            <h1>Erreur 404</h1>
            <a class="btn bg-primary text-white text-xl fs-4" href="/">Retour à l'accueil</a>
        </section>

    </main>

</body>

</html>